#meteor {
  position: absolute;
  width: 100%;
  height: 100%;
}

#meteorPanel {
  position: absolute;
  background-color: #4a7249;
  top: 20%;
  left: 30%;
  width: 50%;
  height: 70%;
}

#input {
  position: absolute;
  top: 93%;
  left: 3%;
}